{
	"port": 8001, 
	"repositories": 
	[{
		"url": "https://github.com/YunYinORG/YYF.git", 
		"path": "/home/newfuture/projects/yyf",
		"cmd": "echo deploying"
	}, 
	{
		"url": "git@github.com:NewFuture/GithubDeploy.git",
		"path": "/home/newfuture/projects/GithubDeploy"
	}]
}
